<div class="col-md-4">
  <h3>Companies</h3>

  <table class="table">
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <th><%= link_to company.name, company_path(company) %></th>
          <td><%= link_to 'edit', edit_company_path(company) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add Company", new_company_path, class: 'btn' %>
</div>